
.slidesContainer{
    height: 300px;
    margin: 0 auto;
    border-radius: 30px;
    .carrouselPictures{
        height: 100%;
        width: 100%;
        img{
            height: 100%;
            width: 100%;
            background-position: center;
            object-fit: cover;
            border-radius: 25px;
        }
    }
    .carrouselNavigation{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        bottom: 53%;
        @media (min-width: 768px){
            bottom: 55%; 
        }
        .navigationLeft{
            left: 10px;
        }
        .navigationRight{
            right: 10px;
        }
        .navigationRight, .navigationLeft{
            position: relative;
            img{
                height: 30px;
                width: 30px;
                cursor: pointer;
                filter: invert(99%) sepia(100%) saturate(6%) hue-rotate(119deg) brightness(103%) contrast(103%);
                @media (min-width: 768px){
                    height: 50px;
                    width: 50px;                    
                }
            }
        }

    }
    .counter{
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 70px;
        font-size: 18px;
        color: white;
        @media (min-width: 768px){
            bottom: 90px;  
        }
    }
}