.cardItem{
    height: 340px;
    width: 340px;
    background: white;
    border-radius: 10px;
    .cardWrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        transition: 200ms;
        position: relative;
        &:hover {
            cursor: pointer;
            box-shadow: 3px 3px 20px #e2e3e9;
        }
        .cardCover{
            height: 100%;
            max-width: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
        .cardTitle{
            position: absolute;
            top: 255px;
            margin-left: 20px;
            text-align: left;
            max-width: 60%;
            color: white;
            font-size: 18px;            
        }
    }
}