/* Import */
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@400;500;700 & display=swap');
@import './Import/variables.scss';

// Composants
@import './components/NavBar/styles.scss';
@import './components/Banner/styles.scss';
@import './components/Card/styles.scss';
@import './components/Collapse/collapse.scss';
@import './components/Slider/slider.scss';
@import './components/Owner/styles.scss';
@import './components/Footer/styles.scss';
// Pages
@import './pages/Home/styles.scss';
@import './pages/Error/error.scss';
@import './pages/Rentals/rentals.scss';

html, body, #root{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
}

/* NavBar */

.logoNav {
    /*Mobile*/
    @media (max-device-width: 375px) {
        max-width: 130px;
    }
    /*Deskop*/
    @media (max-width: 450px){
        max-width: 160px;
    }
}
